/ArithematicOperators.class
/AssignmentOperators.class
/GradeCard.class
/IncDec.class
/LotterGame.class
/LotterGame2.class
/Maximum2Numbers.class
/Maximum3Numbers.class
/OddEven.class
/SimpleInterest.class
/VariableDemo.class
