/DijkstraAlgorithm$1.class
/DijkstraAlgorithm$DijkstraPair.class
/DijkstraAlgorithm.class
/IsGraphBipartite$IsBipartite.class
/IsGraphBipartite$Solution.class
/IsGraphBipartite.class
/PrimsAlgorithm$1.class
/PrimsAlgorithm$PrimsPair.class
/PrimsAlgorithm.class
