/CanYouReadThis.class
/FormBiggestNumber.class
/FormBiggestNumber_ChatGPT.class
/Main.class
/StringCompression.class
/StringsDifferenceinAsciiCodes.class
/StringsMaxFrequencyCharacter.class
/StringsOddEvenCharacter.class
/StringsRemoveuplicates.class
/StringsStringCompression.class
/StringsToggleCase.class
