/BinaryToDecimal.class
/BostonNumber.class
/ChewbaccaAndNumber.class
/CountDigits.class
/FahrenheitToCelcius.class
/LCM.class
/OddEven.class
/OddEvenDigitsSum.class
/PrintArmstrongNumbers.class
/PrintReverse.class
/PrintSeries.class
/ReplaceThemAll.class
/ShoppingGame.class
/SimpleInput.class
