/Fact.class
/Fact2.class
/FactTail.class
/Fibo.class
/Fibo2.class
/FirstOcc.class
/FirstOcc2.class
/IsSortedArray.class
/IsSortedArray2.class
/Power.class
/Power2.class
/PrintDec.class
/PrintDec2.class
/PrintInc.class
/PrintInc2.class
/SumOfNumber.class
/SumOfNumber2.class
