/LoopsDemo.class
/Pattern0.class
/Pattern0_2.class
/Pattern1.class
/Pattern12.class
/Pattern1_2.class
/Pattern2.class
/Pattern21.class
/Pattern2_2.class
/Pattern4_2.class
/Pattern5.class
/Pattern9.class
